<%= form_for(@admin_produto) do |f| %>
  <% if @admin_produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_produto.errors.count, "error") %> prohibited this admin_produto from being saved:</h2>

      <ul>
      <% @admin_produto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_area :url %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :nparcela %><br>
    <%= f.number_field :nparcela %>
  </div>
  <div class="field">
    <%= f.label :vparcela %><br>
    <%= f.text_field :vparcela %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :marca %><br>
    <%= f.text_field :marca %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
