<h1>Lista de Produtos</h1>

<p> Aqui lista todos os produtos dando a opção para deletar, criar e atualizar!<p>

<p><b>Você possui <%= @admin_produtos.count %> produtos ativos ativos</b></p>
<table class="table table-striped">
  <thead>
      <td>Name</td>
      <td>Codigo</td>      
      <td>Preco</td>
      <td>N Parcela</td>
      <td>V Parcela</td>
      <td>Imagem</td>

      <td>Marca</td>
  </thead>

  <tbody class="">
    <% @admin_produtos.each do |admin_produto| %>
      <tr>
        <td><%= admin_produto.code %></td>
        <td><%= admin_produto.name %></td>
        <td><%= admin_produto.price %></td>
        <td><%= admin_produto.nparcela %></td>
        <td><%= admin_produto.vparcela %></td>
        <td><a href="<%= admin_produto.image.url %>"><img src="<%= admin_produto.image.url %>" /></a></td>
        <td><%= admin_produto.marca %></td>
        <td><%= link_to 'Exibir', admin_produto %></td>
        <td><%= link_to 'Editar', edit_admin_produto_path(admin_produto) %></td>
        <td><%= link_to 'Deletar', admin_produto, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Produto', new_admin_produto_path %>
