<h1>Listing admin_produtos</h1>

<table>
<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Url</th>
      <th>Price</th>
      <th>Nparcela</th>
      <th>Vparcela</th>
      <th>Image</th>
      <th>Marca</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_produtos.each do |admin_produto| %>
      <tr>
        <td><%= admin_produto.code %></td>
        <td><%= admin_produto.name %></td>
        <td><%= admin_produto.url %></td>
        <td><%= admin_produto.price %></td>
        <td><%= admin_produto.nparcela %></td>
        <td><%= admin_produto.vparcela %></td>
        <td><%= admin_produto.image %></td>
        <td><%= admin_produto.marca %></td>
        <td><%= link_to 'Show', admin_produto %></td>
        <td><%= link_to 'Edit', edit_admin_produto_path(admin_produto) %></td>
        <td><%= link_to 'Destroy', admin_produto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Produto', new_admin_produto_path %>
