<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @produto.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @produto.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @produto.url %>
</p>

<p>
  <strong>Price:</strong>
  <%= @produto.price %>
</p>

<p>
  <strong>Nparcela:</strong>
  <%= @produto.nparcela %>
</p>

<p>
  <strong>Vparcela:</strong>
  <%= @produto.vparcela %>
</p>

<p>
  <strong>Image:</strong>
  <%= @produto.image %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @produto.marca %>
</p>

<%= link_to 'Edit', edit_produto_path(@produto) %> |
<%= link_to 'Back', produtos_path %>
